<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <springProperty scope="context" name="springAppName"
                    source="spring.application.name"/>

    <springProperty scope="context" name="logPath"
                    source="logPath"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="[%date] [%X{X-B3-TraceId:-}] [%X{X-B3-ParentSpanId:-}] [%X{X-B3-SpanId:-}] [%thread] [%-5level] [%logger{36}] [%M] [%line] => %msg%n"/>


    <!--生产环境去掉控制台输出-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logPath}${springAppName}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${springAppName}.%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="stdout"/>
        <appender-ref ref="dailyRollingFileAppender"/>
    </root>

    <springProfile name="dev">
        <logger name="com.jlpay" level="INFO"/>
        <root level="info">
            <appender-ref ref="stdout"/>
            <appender-ref ref="dailyRollingFileAppender"/>
        </root>
    </springProfile>
    <springProfile name="kx.verify">
        <logger name="com.jlpay" level="INFO"/>
        <root level="info">
            <appender-ref ref="dailyRollingFileAppender"/>
        </root>
    </springProfile>

    <!-- kx.prod对应与你要生效的环境，启动脚本start.sh 里面制定的PROFILES_ACTIVE=dev -->
    <springProfile name="kx.prod">
        <logger name="com.jlpay" level="INFO"/>
        <root level="info">
            <appender-ref ref="dailyRollingFileAppender"/>
        </root>
    </springProfile>
</configuration>